build/
build-*/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
*.user
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.o
*.obj
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
